<div fxLayoutAlign="center center" fxFlexFill>
  <mat-card fxFlex="30">
    <mat-toolbar color="primary">Sign Up</mat-toolbar>
    <form fxLayoutAlign="stretch" fxLayout="column" [formGroup]="registerFormGroup" (ngSubmit)="onSubmit()">
      <div fxLayoutAlign="center center">
        <mat-form-field fxFlex="50">
          <input matInput placeholder="Primeiro Nome" formControlName="firstName">
          <mat-error *ngIf="registerFormGroup.get('firstName')?.invalid">
            Por favor, preecha o campo Primeiro Nome
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="50">
          <input matInput placeholder="Último Nome" formControlName="lastName">
          <mat-error *ngIf="registerFormGroup.get('lastName')?.invalid">
            Por favor, preecha o campo Último Nome
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayoutAlign="center center" fxFlexFill>
        <mat-form-field fxFlex="50">
          <input matInput placeholder="Senha" type="password" formControlName="password">
          <mat-error *ngIf="registerFormGroup.get('password')?.invalid">
            Por favor, preecha o campo senha
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="50">
          <input matInput placeholder="Confirmar Senha" type="password" formControlName="confirmPassword">
          <mat-error *ngIf="registerFormGroup.get('confirmPassword')?.hasError('NoPasswordMatch')">
            Senha não corresponde
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayoutAlign="center center" fxFlexFill>
        <mat-form-field fxFlex="50">
          <input matInput placeholder="Email" formControlName="email">
          <mat-error *ngIf="registerFormGroup.get('email')?.invalid">
            Por favor, preecha o campo com um email válido
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="50">
          <input matInput placeholder="Confirmar Email" formControlName="confirmEmail">
          <mat-error *ngIf="registerFormGroup.get('confirmEmail')?.invalid">
            Email não corresponde
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field fxFlex="50">
          <input matInput placeholder="Username" formControlName="username">
          <mat-error *ngIf="registerFormGroup.get('username')?.invalid">
            Por favor, preecha o campo Username com apenas letras e números
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayoutAlign="start start">
        <button mat-raised-button type="submit" color="primary">Sign Up</button>
      </div>
    </form>
  </mat-card>
</div>
