<mat-toolbar color="primary" [ngClass]="{'main': !isLoading}">
  <mat-toolbar-row>
    <span>Contracts</span>
    <span class="spacer"></span>
    <div *ngIf="authenticated else navlogin">
      <a mat-button routerLink="/dashboard">Dashboard</a>
      <a mat-button routerLink="">Logout</a>
    </div>
    <ng-template #navlogin>
      <a mat-button routerLink="/register">Sign Up</a>
      <a mat-button routerLink="/signin">Sign In</a>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>
<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

